body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 75vh;
  width: 100%;
}

#infoBox {
  height: 25vh;
  padding: 15px;
  background: #f4f4f4;
  border-top: 2px solid #333;
  font-size: 18px;
}

#infoBox div {
  margin-bottom: 10px;
}

.ok {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}
